nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(25px);
    padding-inline: 20px;
    z-index: 15;
}

nav > div > button {
    width: 65px;
    border: none;
    background: transparent;
}

nav > div > button > img {
    width: 100%;
}
.container-icons-right  {
  display: flex;
}
.container-icons-right > .register {
  display: flex;
  flex-direction: column;

}
.container-icons-right > .register > button  {
  width: 65px;
  border: none;
  background: transparent;
}
.container-icons-right > .register > button > img {
  width: 100%;
}
