<nav>
  <div>
    <button [routerLink]="['/']">
      <img src="../../../../../assets/icons/home.svg" alt="Home" />
    </button>
    <button [routerLink]="['/search']">
      <img src="../../../../../assets/icons/search.svg" alt="Search" />
    </button>
  </div>
  <div class="container-icons-right">
    <div class="register">
      <button [routerLink]="['/auth/register']">
        <img src="../../../../../assets/icons/profile.svg" alt="Profile" />
      </button>
      <span></span>
    </div>
    <button [routerLink]="['/search']">
      <img src="../../../../../assets/icons/favorite.svg" alt="Favorite" />
    </button>
  </div>
</nav>
