<div class="list" *ngIf="favoriteList$ | async as favoriteList">
  <div *ngFor="let favorite of favoriteList">
    <app-card [pokemon]="favorite" />
    <div class="btn-remove-container">
      <button class="btn-remove" (click)="deleteFavorite(favorite.id)">
        <img [src]="'../../../../../assets/icons/corbeille.svg'" alt="" />
      </button>
    </div>
  </div>
</div>
<div class="btn">
  <button (click)="this.cardService.previousPage()" class="action-btn">
    <img src="../../../../../assets/icons/arrow-left.svg" alt="Search" />
  </button>
  <p>{{ this.cardService.pageNbr }}</p>
  <button (click)="this.cardService.nextPage()" class="action-btn">
    <img src="../../../../../assets/icons/arrow-right.svg" alt="Search" />
  </button>
</div>
