.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 100px 50px;
}

.list > div {
  width: 300px;
  backdrop-filter: blur(15px);
}

.remove-btn {
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  z-index: 2;
}
.remove-btn > img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  
}

section > div > #noting-msg {
  color: var(--second-color);
  font-size: 33px;
}