<div class="pokemon-card">
  <!-- <img [src]="pokemon.types[0].type.name | typeCardColor" /> -->
  <div
    [ngStyle]="{
      background: 'url(' + (pokemon.types[0].type.name | typeCardColor) + ')',
      backgroundSize: '300px 400px',
      backgroundRepeat: 'no-repeat'
    }"
  >
    <div class="title-xp">
      <h3 class="title">{{ pokemon.name }}</h3>
      <p class="xp">XP: {{ pokemon.base_experience }}</p>
    </div>
    <div class="img-container">
      <img
        class="img-pokemon"
        [src]="pokemon.sprites.other['official-artwork'].front_default"
      />
    </div>
    <p class="height">Height: {{ pokemon.height }}</p>
    <div class="types-container">
      <div *ngFor="let type of pokemon.types" class="types">
        <p class="{{ type.type.name | typeColor }}">{{ type.type.name }}</p>
      </div>
    </div>
    <div class="stat-container">
      <div class="stat" *ngFor="let stat of pokemon.stats">
        <p class="stat-content">{{ stat.stat.name }}</p>
        <p class="stat-content">{{ stat.base_stat }}</p>
      </div>
    </div>
  </div>
</div>
