
<div class="pokemon-card" (click)="seeDetails(pokemon.id)">
  <img [src]="pokemon.types[0].type.name | typeCardColor" />

  <div class="card-content">
    <div class="header-card">
      <h3>{{ pokemon.name | titlecase }}</h3>
      <h4>
        XP <span>{{ pokemon.base_experience }}</span>
      </h4>
    </div>

    <div class="img-card">
      <img
        class="img-pokemon"
        [src]="pokemon.sprites.other['official-artwork'].front_default"
      />
    </div>

    <div class="description-card">
      <div class="types-card">
        <div *ngFor="let type of pokemon.types" class="types">
          <p class="{{ type.type.name | typeColor }}">{{ type.type.name }}</p>
        </div>
      </div>

      <div class="size">
        <p class="titled">Size:</p>
        <p>{{ pokemon.height }}H<span></span></p>
        <p>{{ pokemon.weight }}W</p>
      </div>

      <div class="ability-card">
        <p class="titled">Abilities</p>
        <div *ngIf="abilityList$ | async as abilityList">
          <!-- <div *ngFor="let ability of abilityList"> -->
          <p class="ability-name">{{ abilityList[0].name }}</p>
          <p class="ability-description">
            {{ abilityList[0].effect_entries[0].effect }}
          </p>
          <!-- </div> -->
        </div>
      </div>

      <div class="stat-card">
        <div *ngFor="let stat of pokemon.stats">
          <p>{{ stat.stat.name }}</p>
          <p>{{ stat.base_stat }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
