.pokemon-card {
  background-repeat: no-repeat;
  background-size: 10%;
  gap: 20px;
  /* height: 844px; */
  width: 644px;
  border: 2px solid teal;
}

/* .card {
  width: 30%;
} */

.pokemon-card > img {
  position: relative;
  height: auto;
  width: 250px;
}

.title-xp {
  display: flex;
  justify-content: space-around;
}

.img-pokemon {
  
  width: 50%;
}

.types {
  height: 20px;
  width: 60px;
  color: #fff;
}



.title {
  text-align: center;
}