<div class="center">
</div>
<div class="list" *ngIf="pokemonList$ | async as pokemonList">
  <div *ngFor="let pokemon of pokemonList">
    <app-card [pokemon]="pokemon" />
  </div>
</div>
<div class="btn">
  <button (click)="this.cardService.previousPage()" class="action-btn ">
    <img src="../../../../../assets/icons/arrow-left.svg" alt="Search" />
  </button>
  <p>{{ this.cardService.pageNbr }}</p>
  <button (click)="this.cardService.nextPage()" class="action-btn ">
    <img src="../../../../../assets/icons/arrow-right.svg" alt="Search" />
  </button>
</div>
