<section>
  <form [formGroup]="Form" (ngSubmit)="onSubmit()">
    <h1>Login</h1>
    <div
      class="input-text mb-4"
      tabindex="0"
      (click)="emailField.focus()"
      (keydown.enter)="emailField.focus()"
    >
      <label for="email">Email:</label>
      <input
        id="email"
        name="email"
        type="text"
        formControlName="email"
        #emailField
      />
    </div>

    <div
      class="input-password"
      tabindex="0"
      (click)="passwordField.focus()"
      (keydown.enter)="passwordField.focus()"
    >
      <label for="password">Password:</label>
      <div>
        <input
          id="password"
          name="password"
          [type]="typeInput"
          formControlName="password"
          #passwordField
        />

        <button (click)="togglePasswordVisibility()" type="button">
          <img [src]="isPasswordVisible ? hide : see" alt="Voir/Masquer" />
        </button>
      </div>
    </div>

    <button type="submit" [disabled]="!Form.valid" class="submit-btn">
      Save
    </button>

    <a [routerLink]="'/auth/register'">S'inscrire</a>
  </form>
</section>
