@font-face {
  font-family: "gill_sans";
  src: url("./assets/fonts/gill_sans_bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "gill_sans";
  src: url("./assets/fonts/gill_sans_bold_italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "gill_sans";
  src: url("./assets/fonts/gill_sans_medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gill_sans";
  src: url("./assets/fonts/gill_sans_medium_italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

/* @font-face {
    font-family: '3a1d_font';
    src: url('./assets/fonts/3a1d_font_regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  } */

@font-face {
  font-family: "gill_sans";
  src: url("./assets/fonts/gill_sans_light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "gill_sans";
  src: url("./assets/fonts/gill_sans_light_italic.otf") format("opentype");
  font-weight: lighter;
  font-style: italic;
}

* {
  font-family: "gill_sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #1fa2ff;
  --second-color: #fff;
  --background-color: #eee;
  --dark-grey: #d9d9d9;

  --succes-msg: #355233;
  --succes-background: #cff0bc;
  --error-msg: #813746;
  --error-background: #fbdbe1;
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.action-btn {
  width: 150px;
  border: none;
  background: transparent;
}

.action-btn > img {
  width: 100%;
}

/* Default. */
.input-text {
  width: 100%;
  margin-bottom: 20px;
  background-color: var(--second-color);
  border-radius: 10px;
  border: 1px solid var(--main-color);
}

.input-text > label {
  color: var(--main-color);
  font-weight: 600;
}

.input-text > input {
  width: 100%;
  color: var(--main-color);
  background-color: var(--second-color);
  border: none;
}

/* Password. */
.input-password {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--second-color);
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 5px 15px;
  border: 1px solid var(--main-color);
}

.input-password > label {
  color: var(--main-color);
  font-weight: 600;
}

.input-password > div > button {
  background: transparent;
  border: none;
}

.input-password > div > button > img {
  width: 100%;
}

.input-password > div {
  display: flex;
  flex-direction: row;
}

.input-password > div > input {
  width: 100%;
  color: var(--main-color);
  background: transparent;
  border: none;
}

/* Error. */
.error-input {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--error-msg);
  text-align: center;
  margin-block: -10px 10px;
  padding: 5px 10px;
  background-color: var(--error-background);
  border-radius: 7px;
}

/* Submit button. */
.submit-btn {
  height: 35px;
  width: 80%;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
  margin: auto;
  background-color: var(--second-color);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.red-lighten-1 {
  background-color: #ef5350;
}

.blue-lighten-1 {
  background-color: #42a5f5;
}

.green-lighten-1 {
  background-color: #66bb6a;
}

.brown-lighten-1 {
  background-color: #8d6e63;
}

.blue-lighten-3 {
  background-color: #42a5f5;
}

.grey-lighten-3 {
  background-color: #bdbdbd;
}

.deep-purple-accent-1 {
  background-color: #b388ff;
}

.pink-lighten-4 {
  background-color: #f8bbd0;
}

.deep-purple-darken-2 {
  background-color: #512da8;
}

.lime-accent-1 {
  color: #000000;
  background-color: #f4ff81;
}

.deep-orange {
  background-color: #ff5722;
}

.teal {
  background-color: #009688;
}

.grey {
  background-color: #9e9e9e;
}

@media screen and (min-width: 431px) {
  .input-text {
    height: 55px;
    min-width: 335px;
    max-width: 335px;
    padding: 5px 15px;
  }

  .input-text > label {
    font-size: 16px;
  }

  .input-text > input {
    font-size: 18px;
  }

  .input-password {
    height: 55px;
    min-width: 335px;
    max-width: 335px;
  }

  .input-password > label {
    font-size: 16px;
  }

  .input-password > div > input {
    height: 25px;
    font-size: 18px;
  }

  .input-password > div > button {
    height: 45px;
    width: 45px;
    margin-top: -20px;
  }
}

@media screen and (max-width: 430px) {
  .input-text {
    display: flex;
    flex-direction: column;
    height: 45px;
    min-width: 245px;
    max-width: 245px;
    padding: 5px 15px 0 15px;
  }

  .input-text > label {
    font-size: 14px;
  }

  .input-text > input {
    height: 15px;
    width: 100%;
    font-size: 16px;
  }

  .input-password {
    height: 45px;
    min-width: 245px;
    max-width: 245px;
  }

  .input-password > label {
    font-size: 14px;
  }

  .input-password > div > input {
    height: 20px;
    font-size: 16px;
  }

  .input-password > div > button {
    height: 35px;
    width: 35px;
    margin-top: -15px;
  }
}
