<div class="pokemon-card" (click)="seeDetails(pokemon.id)">
  <img [src]="pokemon.types[0].type.name | typeCardColor" />

  <div class="card-content">
    <div class="header-card">
      <h3>{{ pokemon.name | titlecase }}</h3>
      <h4>
        HP <span>{{ pokemon.stats[0].base_stat }}</span>
      </h4>
    </div>

    <div class="img-card">
      <img
        class="img-pokemon"
        [src]="pokemon.sprites.other['official-artwork'].front_default"
        [alt]="pokemon.name"
      />
    </div>

    <div class="description-card">
      <div class="ability-card">
        <p class="titled">Ability :</p>
        <div *ngIf="abilityList$ | async as abilityList">
          <p class="ability-name">{{ abilityList[0].name }}</p>
          <p class="ability-description">
            {{ abilityList[0].effect_entries[0].effect }}
          </p>
        </div>
      </div>

      <div class="attack-card">
        <div>
          <img
            *ngFor="let typeIcon of pokemon.types | typeIcon"
            [src]="typeIcon"
            alt="{{ typeIcon }}"
            class="type-icon"
          />
        </div>
        <div class="attack-name">
          <p>{{ pokemon.stats[1].stat.name | titlecase }}</p>
        </div>
        <div class="attack-indice">
          <p>{{ pokemon.stats[1].base_stat }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
