section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section > #input-field {
    height: 35px;
    width: 220px;
    margin-top: 70px;
}

section > #input-field > input {
    height: 100%;
    width: 100%;
    font-size: 19px;
    font-family: inherit;
    padding-left: 15px;
    border: none;
    background-color: var(--background-color);
    border-radius: 10px;
}

section > #result {
    height: 80vh;
    display: flex;
    align-items: center;
}